<div [hidden]="!currentPlace.id"> 
    <mat-card>

        <mat-card-title>
            {{currentPlace.name}}
        </mat-card-title>

        <mat-card-content>
            <p>{{currentPlace.description}}</p>
            <p>Url image : {{currentPlace.pictureUrl}}</p>
            <p>Longitude (-180 -> 180) : {{currentPlace.location.coordinates[0]}}</p>
            <p>Latitude (-90 -> 90) : {{currentPlace.location.coordinates[1]}}</p>

            <app-update-place [hidden]="!showHideUpdateForm"> </app-update-place>
        </mat-card-content>

        <mat-card-actions>
            <button  [hidden]="!isTripOfUser()"  (click)="onDelete()"> Supprimer </button>
            <button  [hidden]="!isTripOfUser()"  (click)="showUpdateForm()" > Editer </button>
            <div [hidden]="!deleteError"> 
                <span style="color:red"> Erreur lors de la suppression</span>
            </div>
        </mat-card-actions>

        <mat-card-footer>
            <small> Créé le {{ currentPlace.createdAt | date }}</small> <br>
            <small> Modifié le {{ currentPlace.updatedAt | date }}</small> <br>
        </mat-card-footer>

    </mat-card>
</div>