<div [hidden]="!currentPlace.id || (currentTrip.id != currentPlace.tripId)"> 
    <mat-card>

        <mat-card-title>
            {{currentPlace.name}}
        </mat-card-title>

        <mat-card-content>
            <p>{{currentPlace.description}}</p>
            <p>
                <img src="{{currentPlace.pictureUrl}} " 
                   alt="Picture of {{currentPlace.name}}" width="300">
            </p>
            <p>Coordonnées : {{currentPlace.location.coordinates[0]}} {{currentPlace.location.coordinates[1]}}</p>

            <app-update-place [hidden]="!showHideUpdateForm"> </app-update-place>
        </mat-card-content>

        <mat-card-actions>
            <button   mat-button color="warn" [hidden]="!isTripOfUser()"  (click)="onDelete()"> Supprimer </button>
            <button   mat-raised-button color="accent" [hidden]="!isTripOfUser()"  (click)="showUpdateForm()" > Editer </button>
            <div [hidden]="!deleteError"> 
                <span style="color:red"> Erreur lors de la suppression</span>
            </div>
        </mat-card-actions>

        <mat-card-footer>
            <small> Créé le {{ currentPlace.createdAt | date }}</small> <br>
            <small> Modifié le {{ currentPlace.updatedAt | date }}</small> <br>
        </mat-card-footer>

    </mat-card>
</div>