<h1> Inscription </h1>
<form #createUserForm="ngForm" (submit)="onSubmit(createUserForm)">
    <div>
      <mat-form-field 
          floatLabel="never" 
          appearance="fill"
          color="accent">
      <mat-label for="username">Username</mat-label>
      <input matInput
        type="text"
        name="username"
        id="createUsername"
        #usernameField="ngModel"
        required
        [(ngModel)]="userRequest.name"
        minlength="3"
        maxlength="25"
      />
    </mat-form-field>
    <br>
      <p *ngIf="usernameField.hasError('required') && usernameField.touched">
        Username est obligatoire 
      </p>
    </div>


    <div>
      <mat-form-field 
          floatLabel="never"
          appearance="fill"
          color="accent">
      <mat-label for="password">Password</mat-label>
      <input matInput
        type="password"
        name="password"
        id="createPasswrod" 
        #passwordField="ngModel"
        required
        [(ngModel)]="userRequest.password"
        minlength="4"
      />
    </mat-form-field>

      <p *ngIf="passwordField.hasError('required') && passwordField.touched">
        Password est obligatoire 
      </p>
    </div>
  
    <div>
      <button 
        mat-flat-button 
        color="accent"
        type="submit" 
        [disabled]="createUserForm.invalid">Créer </button>
      <p *ngIf="createError">
        Unable to log in. See the log for more information.
      </p>
    </div>
  </form>