



<mat-sidenav-container>

  <mat-sidenav #sidenav opened="true" mode="side">
     
    <app-list-trip></app-list-trip>
    
  </mat-sidenav>


  <mat-sidenav-content> 

    <button mat-raised-button color="accent" (click)="sidenav.toggle()"> Voyages </button>     

    <app-logout-button></app-logout-button>
   
    Logged as : {{ currentUser.name }}

    <app-detail-trip  > </app-detail-trip>


    <app-detail-place> </app-detail-place>



  </mat-sidenav-content>

</mat-sidenav-container>



  

