
  <div>
      <h2> Créer un voyage </h2>
    
      <form #creatTripForm="ngForm" (submit)="onSubmit(creatTripForm)"> 
        <input type="text" 
          placeholder="Titre"
          [(ngModel)]="tripRequest.title"
          name="title"
          required
          #title="ngModel"
          minlength="3"
          > 

        
          <input type="text" 
          placeholder="Description"
          [(ngModel)]="tripRequest.description"
          name="description"
          required
          #description
          minlength="5"
          [disabled]="title.invalid"
          > 
          <span *ngIf="description.invalid&&description.touched"> Saisir une description d'au moins 5 caractères</span>


          <button mat-raised-button  color="accent" type="submit" 
            [disabled]="creatTripForm.invalid"> 
            Ajouter 
          </button>
      </form>

  </div>