
  <div [hidden]="!tripRequest.title">
     
    <h2> Update</h2>
  
    <form #updateTripForm="ngForm" (submit)="onSubmit(updateTripForm)"> 
      <input type="text" 
        placeholder="Titre"
        [(ngModel)]="tripRequest.title"
        name="title"
        required
        #title="ngModel"
        minlength="3"
        > 

      
        <input type="text" 
        placeholder="Description"
        [(ngModel)]="tripRequest.description"
        name="description"
        required
        #description
        minlength="5"
        [disabled]="title.invalid"
        > 
        <span *ngIf="description.invalid&&description.touched"> Saisir une description d'au moins 5 caractères</span>


        <button type="submit" 
          [disabled]="updateTripForm.invalid"> 
          Update  
        </button>
    </form>

</div>